PySide6>=6.5.0
psutil>=5.9.0
pywin32>=306; sys_platform == 'win32'
pyobjc-core>=9.0; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=9.0; sys_platform == 'darwin'
pyobjc-framework-Quartz>=9.0; sys_platform == 'darwin'
Pillow>=10.0.0